
[data-menu="button-mobile"]{
  display: none;
}

@media (max-width:700px){
  .js [data-menu="button-mobile"]{
    display: flex;
    background: #222;
    border: none;
    padding: .5rem .7rem;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
    color: white;
    margin: 10px;
    align-items: center;
    position: relative;
    z-index: 201;
  }

  .js [data-menu="button-mobile"]::before{ 
    content: '';
    display: inline-block;
    height: 2px;
    width: 15px;
    background: white;
    box-shadow: 0 4px white,0 -4px;
    margin-right: 4px;
    transition: transform .3s;
  }
  .js [data-menu="button-mobile"].active::before{
    transform: rotate(90deg);
  } 

  .js [data-menu="lista"]{
    display: none;
    position: absolute;
    background: #FB5;
    width: 160px;
    z-index: 200;
    padding: 60px 0 10px 0;
    top: 0;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .2);
  }
  .js [data-menu="lista"].active{
    display: block;
    animation: show-up .3s forwards;
  }
  .js .dropdown-menu{
    position: static;
    border: none;
  }
}